Load environment variables that include `OPENAI_API_KEY` and `TOGETHER_API_KEY.`

In [16]:
from pyprojroot import here

In [22]:
from dotenv import load_dotenv

load_dotenv(here(".env"))

True

In [2]:
from langchain_together import ChatTogether
from langchain_openai import ChatOpenAI

Generate response use `ChatOpenAI`.

In [3]:
openai_llm = ChatOpenAI(
    model='gpt-4o-mini',
    temperature=0.5
)

In [4]:
messages = [
    (
        "system",
        "You are an experienced Data Analyst with extensive knowledge in SQL and database querying. Convert natural language questions into SQL queries."
    ),
    ("human", "Show me total sales by product category for last month.")
]

In [6]:
result = openai_llm.invoke(messages)

In [7]:
print(result.content)

To retrieve the total sales by product category for the last month, you can use the following SQL query. This assumes you have a table named `sales` with columns `product_category`, `sale_amount`, and `sale_date`.

```sql
SELECT
    product_category,
    SUM(sale_amount) AS total_sales
FROM
    sales
WHERE
    sale_date >= DATE_TRUNC('month', CURRENT_DATE - INTERVAL '1 month')
    AND sale_date < DATE_TRUNC('month', CURRENT_DATE)
GROUP BY
    product_category
ORDER BY
    total_sales DESC;
```

This query calculates the total sales for each product category for the previous month and orders the results by total sales in descending order. Adjust the table and column names as necessary to fit your database schema.

Try to generate response with other models:
- [x] meta-llama/Llama-3.3-70B-Instruct-Turbo
- [x] Qwen/Qwen2.5-Coder-32B-Instruct

In [8]:
llama_llm = ChatTogether(
    model="meta-llama/Llama-3.3-70B-Instruct-Turbo",
    temperature=0
)

In [9]:
result = llama_llm.invoke(messages)

In [11]:
print(result.content)

To show the total sales by product category for the last month, we can use the following SQL query:

```sql
SELECT
    pc.category_name,
    SUM(oi.quantity * oi.unit_price) AS total_sales
FROM
    order_items oi
JOIN
    products p ON oi.product_id = p.product_id
JOIN
    product_categories pc ON p.category_id = pc.category_id
WHERE
    EXTRACT(MONTH FROM oi.order_date) = EXTRACT(MONTH FROM CURRENT_DATE - INTERVAL '1 month')
    AND EXTRACT(YEAR FROM oi.order_date) = EXTRACT(YEAR FROM CURRENT_DATE - INTERVAL '1 month')
GROUP BY
    pc.category_name
ORDER BY
    total_sales DESC;
```

This query assumes the following:

- `order_items` table contains the order details with `order_date`, `product_id`, `quantity`, and `unit_price`.
- `products` table contains the product details with `product_id` and `category_id`.
- `product_categories` table contains the category details with `category_id` and `category_name`.

The query joins these tables based on the corresponding IDs, filters the data for the last month, and groups the results by product category. The `SUM` function calculates the total sales for each category, and the results are sorted in descending order by total sales.

Note: The date functions used in the query (e.g., `EXTRACT`, `CURRENT_DATE`, `INTERVAL`) may vary depending on the specific database management system being used. The above query is written in a generic SQL syntax and may need to be adjusted for the specific database system.

For example, in MySQL, you would use the `MONTH` and `YEAR` functions instead of `EXTRACT`, and the `CURDATE` function instead of `CURRENT_DATE`. The query would look like this:

```sql
SELECT
    pc.category_name,
    SUM(oi.quantity * oi.unit_price) AS total_sales
FROM
    order_items oi
JOIN
    products p ON oi.product_id = p.product_id
JOIN
    product_categories pc ON p.category_id = pc.category_id
WHERE
    MONTH(oi.order_date) = MONTH(CURDATE() - INTERVAL 1 MONTH)
    AND YEAR(oi.order_date) = YEAR(CURDATE() - INTERVAL 1 MONTH)
GROUP BY
    pc.category_name
ORDER BY
    total_sales DESC;
```

In [13]:
qwen_llm = ChatTogether(
    model="Qwen/Qwen2.5-Coder-32B-Instruct",
    temperature=0
)

In [14]:
result = qwen_llm.invoke(messages)

In [15]:
print(result.content)

To generate a SQL query that shows the total sales by product category for the last month, we need to assume a few things about the database schema. Let's assume we have the following tables:

- `sales`: This table contains sales transactions with at least the following columns:
  - `sale_id`: Unique identifier for each sale.
  - `product_id`: Identifier for the product sold.
  - `sale_date`: Date of the sale.
  - `amount`: Total amount of the sale.

- `products`: This table contains product details with at least the following columns:
  - `product_id`: Unique identifier for each product.
  - `category_id`: Identifier for the product category.

- `categories`: This table contains category details with at least the following columns:
  - `category_id`: Unique identifier for each category.
  - `category_name`: Name of the category.

Given this schema, the SQL query to find the total sales by product category for the last month would look like this:

```sql
SELECT
    c.category_name,
    SUM(s.amount) AS total_sales
FROM
    sales s
JOIN
    products p ON s.product_id = p.product_id
JOIN
    categories c ON p.category_id = c.category_id
WHERE
    s.sale_date >= DATE_TRUNC('month', CURRENT_DATE) - INTERVAL '1 month'
    AND s.sale_date < DATE_TRUNC('month', CURRENT_DATE)
GROUP BY
    c.category_name
ORDER BY
    total_sales DESC;
```

### Explanation:
- **DATE_TRUNC('month', CURRENT_DATE) - INTERVAL '1 month'**: This calculates the first day of the last month.
- **DATE_TRUNC('month', CURRENT_DATE)**: This calculates the first day of the current month.
- The `WHERE` clause filters the sales to only include those from the last month.
- The `JOIN` operations link the `sales` table with the `products` and `categories` tables to get the category names.
- The `SUM(s.amount)` function calculates the total sales amount for each category.
- The `GROUP BY` clause groups the results by category name.
- The `ORDER BY total_sales DESC` clause orders the results by total sales in descending order, so the categories with the highest sales appear first.